<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
        <script type="text/javascript">
            function cmd(){
                $.ajax({
                    type: "GET",
                    url: "http://0.0.0.0:5000/cmd",
                    success: function (data) { 
                        $("#result").html("dfsdfds")
                  },
                });                
            }
         </script>
    </head>
    <body>
        <a href="#" onclick="return cmd();">Item</a>
        <div id="result"></div>
    </body>
</html>
