<!DOCTYPE html>
<html>
  <head>
    <meta charset = "UTF-8">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css">
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
    <script type="css" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css"></script>
  </head>
  <body class="ui container">
    <h2 class="ui block header">
      <i class="marker icon"></i>
      <div class="content">
        nslookup demo
        <div class="sub header">Mathana Nair Sreedaran | Internetworking | BSc. (Hons) in Applied Computing @ WIT</div>
      </div>
    </h2>
    <div id="map"></div>
    <script>
      function initMap() {
        var myLatLng = {lat: 53.2734, lng: 7.78};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 2,
          center: myLatLng
        });

        {% for geo in geolist %}
        {% set coord = geo['loc'].split(',') %}
        {% set country = geo['country'] %}
        {% set ipaddr = geo['ip'] %}
        {% set org = geo['org'] %}

                var contentString =  '<strong><p>Country: {{ country }}</p> <p>IP address: {{ ipaddr }}</p> <p>Org: {{ org }}</p></strong>';

                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng({{ coord[0] }}, {{ coord[1] }}),
                    // label: labels[labelIndex++ % labels.length],
                    map: map,
                    contentString: contentString,
                    title: 'Click Me '
                });

                     {% endfor %}

      }

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAK_JiBbgnyNYXXwaFWAyIPkVFL80a-NAc&callback=initMap">
    </script>

    <section>
 
      <div class="ui segment">
        <h2 class="ui header">Total IP addresses found: {{ geolist|length }}</h2>
      </div>

     
      <table class="ui celled table">
        <thead>
          <tr><th>IP address</th>
          <th>Hostname</th>
          <th>Country</th>
          <th>Organisation</th>
        </tr></thead>
 {% for geo in geolist %}
        <tbody>
          <tr>
            <td>{{ geo['ip'] }}</td>
            <td>{{ geo['hostname'] }}</td>
            <td>{{ geo['country'] }}</td>
            <td>{{ geo['org'] }}</td>
          </tr>
        </tbody>

  {% endfor %}      
       </table> 
           </section>
         </body>
       </html>




<!-- Add number of hops and stuff -->
 



<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
  </head>

  <body>
    <h1>Tester</h1>
      {% for n in list %}
      {% set coord = n.split(',') %}
        <p>Lat: {{ coord[0] }}</p>
      {% endfor %}
    </body>
</html> -->
